
<div class="w-100 card border-0 p-4">
    <div class="card-header bg-info bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Course List</h2>
            </div>
        </div>
    </div>
    <div class="card-body border p-4">
        <div class="row pb-3">
            <div class="col-6 offset-6 text-end">
                <a asp-controller="Course" asp-action="Create" class="btn btn-secondary">
                    <i class="bi bi-plus-circle"></i> Create New Course
                </a>
            </div>
        </div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Course Code</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Course Type</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="table_data">
                
            </tbody>
        </table>
    </div>
</div>



@section scripts {
    <script>

        $(document).ready(function () {
            GetAllCourses();
        });

        $('#btnCreateCourse').click(function () {
            $('#CreateCourseModalShow').modal('show');
        });

        function GetAllCourses() {
            $('.spinner').show();
            $.ajax({
                url: '/Course/GetCourseList',
                type: 'GET',
                dataType: 'json',
                success: function (result, status, xhr) {
                    $('.spinner').hide();
                    var object = '';
                    $.each(result, function (index, item) {
                        object += '<tr>';
                        object += '<td>' + item.courseCode + '</td>';
                        object += '<td>' + item.name + '</td>';
                        object += '<td>' + item.description + '</td>';
                        object += '<td>' + item.courseType + '</td>';
                        object += '<td><a href="#" class="btn btn-primary">Edit</a> || <a href="#" class="btn btn-danger">Delete</a></td>';
                        object += '</tr>';
                    });
                    $('#table_data').html(object);
                },
                error: function (xhr, status, error) {
                    $('.spinner').hide();
                    alert("Data can't get");
                }
            });
        }
    </script>
}


